<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= __('app.title') %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <form class="form-signin" method="post">
            <% include ./common/alerts %>
            <div class="text-center text-primary"><img alt="logo" src="/images/favicon.png" ></div>
            <h1 class="h3 mb-3 font-weight-normal"><%= __('app.login') %></h1>
            <label for="field-email" class="sr-only"><%= __('field.email') %></label>
            <input type="email" name="email" id="field-email" class="form-control"
                placeholder="<%= __('field.email') %>" required autofocus>
            <label for="field-password" class="sr-only"><%= __('field.password') %></label>
            <input type="password" name="password" id="field-password" class="form-control"
                placeholder="<%= __('field.password') %>" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit"><%= __('btn.login') %></button>
            <br /><br />
            <div class="text-center">
                <a href="/lang/<%- $lang === 'tr' ? 'en' : 'tr' %>?ts=<%- $qs.val('ts') %>" class="text-muted">
                    <i><%= __('app.language') %>: <%= $lang === 'tr' ? 'English' : 'Türkçe' %></i>
                </a>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
    </body>
</html>