<script type="text/javascript">
    $(function() {
        var printing = false, selectedJobs = [];
        <% if ($printer && user) { %>
        function processByStep(job, input, output, description) {
            return function (done) {
                var $banner = $('#banner-container');
                $banner.find('.firstline').html(job.name);
                $banner.find('.secondline').html("<%- __('txt.print') %>");
                if (!printing) {
                    printing = true;
                    $banner.xrxbanner('call');
                }
                printJob(job.job, input, output, description, function (e, jid) {
                    setTimeout(function () {
                        if (e) $banner.find('.secondline').html(e.message);
                        $.post('/' + ( jid || '-' ) + '/' + job.job + '/pair', { s: !e }).done(function () {
                            // TODO: paired successfully
                        }).fail(function () {
                            // TODO: pair failed
                        });
                        setTimeout(done, 2000);
                    }, 2000);
                });
            }
        }
        function processAll(input) {
            applyTheme("<%- $sys.themeAlt || '' %>", '#btn-print');
            $('#btn-print').attr('disabled', true);
            var $el = $('#tableContainer').find('thead input');
            if ($el.length) {
                if (!$el.get(0).checked) $el.trigger('click');
                $el.trigger('click');
            }
            var run = [];
            selectedJobs.forEach(function (job) {
                var output = xrxPrintOutput('None', 'None', 'None', job.color ? 'Color' : 'Auto',
                    job.collate || 'Auto', job.copies || 1, 'Auto', job.tray || 'Auto');
                run.push(processByStep(job, input, output,
                    xrxPrintJobDescription(job.name + ' - ' + job.id, "<%- user.username %>")));
            });
            series(run, function () {
                printing = false;
                setTimeout(function () {
                    applyTheme("<%- $sys.theme || '' %>", '#btn-print');
                    $('#btn-print').attr('disabled', false);
                    window.location.href = location.pathname + '?hello=' + Date.now();
                }, 500);
            });
        }
        function printOptions(capabilities, input) {
            $('#title-bar').html(selectedJobs[0].name);
            $('#tableContainer').html($('#print-container').html());
            $('#tableContainer').find('table').xrxtable({ bordered: true, themePrimary: false,
                selectable: false, height: $('body').data('h') || 430, scroll: true });
            applyTheme("<%- $sys.themeAlt || '' %>", '#tableContainer table');
            $('#switch-color').xrxtoggleswitch({ widgetSize: 'xrx-small' });
            applyTheme("<%- $sys.themeAction || '' %>", '#switch-color');
            $('#switch-side').xrxtoggleswitch({ widgetSize: 'xrx-small' });
            applyTheme("<%- $sys.themeAction || '' %>", '#switch-side');
            $('#btn-exit').xrxbutton({ icons: { glyph: 'glyphicon-arrow-left' }, text: false, themePrimary: true }).data('b', true);
            $('#field-copies').xrxkeyboard({ initialPlaceholder: '1', layout: 'xrxNum', restrictInput: true, preventPaste: true });
            applyTheme("<%- $sys.themeAlt || '' %>", '#field-copies');
            $('#btn-print').data('p', true);
        }
        function loadUI(input) {
            if (!$('body').data('u')) $('body').data('u', 'master');
            var $username = $('body').data('u'), $current = "<%- user.username %>";
            if ($username !== $current) {
                var $alert = $('#alert-container').html("<%- __('txt.claim', $printer.name, $printer.ip, user.username) %>");
                $alert.xrxalert({ buttons: [] });
                $alert.xrxalert('open');
            } else {
                <% if (!$qs.val('hello')) { %>
                showBanner("<%- __('txt.welcome') %>".replace('%s', $username), '', null);
                <% }; %>
                $('#btn-exit').click(function () {
                    if ($(this).data('b')) window.location.href = location.pathname + '?hello=' + Date.now();
                    else if (confirm("<%- __('txt.sure') %>")) $.post('/' + ($('body').data('u') || '-') + '/unclaim', {})
                            .done(exitApplication).fail(exitApplication);
                });
                $('#btn-print').click(function () {
                    try {
                        if ($(this).data('p')) processAll(input); // TODO: apply modifications to job object!
                        else {
                            selectedJobs = [];
                            $('#tableContainer').find('tbody input').each(function () {
                                var $el = $(this);
                                if ($el.get(0).checked) selectedJobs.push($el.data());
                            });
                            if (selectedJobs.length) {
                                if (selectedJobs.length > 1) processAll(input);
                                else getDeviceCapability(function (capabilities) {
                                    printOptions(capabilities, input);
                                }, function () {
                                    printOptions({}, input); return;
                                    showBanner(selectedJobs[0].name, "<%- __('txt.fail') %>", null);
                                });
                            } else showBanner("<%- __('txt.select') %>", '', null);
                        }
                    } catch (e) {
                        showBanner(e.message, '', null);
                    }
                });
                $('button.delete').click(function () {
                    var $el = $(this).closest('tr');
                    if (confirm("<%- __('txt.sure') %>"))
                        $.post('/' + $('body').data('u') + '/' + $el.find('input').data('job') +
                            '/remove?app=print&ts=' + Date.now(), {}).done(function (data) {
                                if (data && data.s) window.location.href = location.pathname + '?hello=' + Date.now();
                                else showBanner(data && data.e ? data.e : "<%- __('txt.e500') %>", '', null);
                            }).fail(function () {
                                showBanner("<%- __('txt.e500') %>", '', null);
                            });
                });
                $('#tableContainer').find('tr').click(function () {
                    var $el = $(this);
                    if (!$el.find('th[colspan]').length) {
                        setTimeout(function () {
                            $el.find('input').get(0).checked ? $el.addClass('ui-state-selected') : $el.removeClass('ui-state-selected');
                        }, 250);
                    } else {
                        $el.find('input').get(0).checked ? $el.closest('table').find('tbody tr').addClass('ui-state-selected') :
                            $el.closest('table').find('tbody tr').removeClass('ui-state-selected');
                    }
                });
            }
        }
        <% }; %>
        $('#tableContainer').find('table').xrxtable({ bordered: true, themePrimary: true,
            selectable: true, height: $('body').data('h') || 430, scroll: true });
        $('button.delete').xrxbutton({ icons: { glyph: 'glyphicon-trash' }, widgetSize: 'xrx-small',
            borderless: true, text: false, customClass: 'not-checkbox' });
        $('#btn-exit').xrxbutton({ icons: { glyph: 'glyphicon-exit' }, text: false, themePrimary: true });
        $('#btn-print').xrxbutton({ icons: { glyph: 'glyphicon-print' }, text: true, themePrimary: true });
        $('#alert-container').xrxalert({ buttons: [] });
        applyTheme("<%- $sys.theme || '' %>");
        <% if ($printer && $license && user) { %>
        showBanner('', '', null, true);
        getSessionInformation(function (input) {
            loadUI(input);
        }, function () {
            loadUI();
        });
        <% } else if (flash && flash.length) { %>
            var $alert = $('#alert-container');
            <% while(alert = flash.shift()) { %>
                $alert.append("<p><%- alert.message %></p>");
            <% }; %>
            $alert.xrxalert({ buttons: [] });
            $alert.xrxalert('open');
        <% }; %>
    });
</script>
