<script type="text/javascript">
    $(function() {
        <% if ($printer && user) { %>
        function xrxPrintJobTicket(jobDescription, jobProcessing) {
            var ticketStr = '<?xml version=\"1.0\" encoding=\"utf-8\"?>' +
                xrxCreateTag('PrintJobTicket', 'xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://schemas.xerox.com/enterprise/eipjobmodel/1\"', jobDescription + jobProcessing);
            return xrxEscape( ticketStr );
        }
        function xrxPrintJobDescription(jobName, jobOriginating) {
            return xrxCreateTag('JobDescription', '', xrxCreateTag('JobName', '', jobName) +
                xrxCreateTag('JobOriginatingUserName', '', jobOriginating));
        }
        function xrxPrintJobProcessing(input, output) {
            return xrxCreateTag('JobProcessing', '', input + output);
        }
        function xrxPrintInputJBA(jbaUserId, jbaAcctId) {
            return xrxCreateTag('Input', '', xrxCreateTag('Accounting', '', xrxCreateTag('Jba', '',
                    xrxCreateTag('JobAccountingUserId', '', jbaUserId) + xrxCreateTag('JobAccountId', '', jbaAcctId))));
        }
        function xrxPrintInputXSA(xsaUserId, xsaAcctType, xsaAcctId) {
            return xrxCreateTag('Input', '', xrxCreateTag('Accounting', '', xrxCreateTag('Xsa', '',
                        xrxCreateTag('AccountUserId', '', xsaUserId) + xrxCreateTag('AccountTypeInfo', '',
                            xrxCreateTag('AccountType', '', xsaAcctType) + xrxCreateTag('AccountID', '', xsaAcctId)) +
                                xrxCreateTag('AccountBillingId', '', ''))));
        }
        function xrxPrintOutput(staple, punch, fold, color, collate, copies, sides, inputTray) {
            var finishingTag = xrxCreateTag('Finishings', '', xrxCreateTag('StapleFinishing', '', staple) +
                xrxCreateTag('PunchFinishing', '', punch) + xrxCreateTag('FoldFinishing', '', fold));
            var colorEffectsTag = xrxCreateTag('ColorEffectsType', '', color);
            var collationTag = xrxCreateTag('SheetCollate', '', collate);
            var copiesTag = xrxCreateTag('Copies', '', copies);
            var sidesTag = xrxCreateTag('Sides', '', sides);
            var trayTag = xrxCreateTag('InputTraysCol', '', xrxCreateTag('InputTrayName', '', inputTray));
            return xrxCreateTag('Output', '', finishingTag + colorEffectsTag + collationTag + copiesTag + sidesTag + trayTag);
        }
        function xrxEscape(text){
            text = unescape(text);
            text = xrxReplaceChars( text, "<", "&lt;" );
            text = xrxReplaceChars( text, ">", "&gt;" );
            return text;
        }

        function loadUI() {
            $('body').data('u', 'master');
            var $username = $('body').data('u'), $current = "<%- user.username %>";
            if ($username !== $current) {
                var $alert = $('#alert-container').html("<%- __('txt.claim', $printer.name, $printer.ip, user.username) %>");
                $alert.xrxalert({ buttons: [] });
                $alert.xrxalert('open');
            } else {
                <% if (!$qs.val('hello')) { %>
                var $banner = $('#banner-container');
                $banner.find('button').trigger('click');
                $banner.find('.action-indicator').remove();
                $banner.find('.firstline').html("<%- __('txt.welcome') %>".replace('%s', $username));
                $banner.find('.secondline').remove();
                $banner.xrxbanner('call');
                <% }; %>
            }
        }
        <% }; %>
        $('#tableContainer').find('table').xrxtable({ bordered: true, themePrimary: true,
            selectable: true, height: $('body').data('h') || 430, scroll: true });
        $('button.delete').xrxbutton({ icons: { glyph: 'glyphicon-trash' }, widgetSize: 'xrx-small',
            borderless: true, text: false, customClass: 'not-checkbox' })
            .click(function () {
                var $el = $(this).closest('tr');
                if (confirm("<%- __('txt.sure') %>"))
                    $.post('/' + $('body').data('u') + '/' + $el.find('input').data('job') +
                        '/remove?app=print&ts=' + Date.now(), {}).done(function (data) {
                            var $banner = $('#banner-container');
                            $banner.find('.action-indicator').remove();
                            $banner.find('.secondline').remove();
                            if (data && data.s) window.location.href = location.pathname + '?hello=' + Date.now();
                            else {
                                if (data && data.e) $banner.find('.firstline').html(data.e);
                                else $banner.find('.firstline').html("<%- __('txt.e500') %>");
                                $banner.xrxbanner('call');
                            }
                        }).fail(function () {
                            var $banner = $('#banner-container');
                            $banner.find('.action-indicator').remove();
                            $banner.find('.firstline').html("<%- __('txt.e500') %>");
                            $banner.find('.secondline').remove();
                            $banner.xrxbanner('call');
                        });
            });
        $('#tableContainer').find('tr').click(function () {
            var $el = $(this);
            if (!$el.find('th[colspan]').length) {
                setTimeout(function () {
                    $el.find('input').get(0).checked ? $el.addClass('ui-state-selected') : $el.removeClass('ui-state-selected');
                }, 250);
            } else {
                $el.find('input').get(0).checked ? $el.closest('table').find('tbody tr').addClass('ui-state-selected') :
                    $el.closest('table').find('tbody tr').removeClass('ui-state-selected');
            }
        });
        $('#btn-exit').xrxbutton({ icons: { glyph: 'glyphicon-exit' }, text: false, themePrimary: true })
            .click(function () {
                if (confirm("<%- __('txt.sure') %>"))
                    $.post('/' + ($('body').data('u') || '-') + '/unclaim', {})
                        .done(exitApplication).fail(exitApplication);
            });
        $('#btn-print').xrxbutton({ icons: { glyph: 'glyphicon-print' }, text: true, themePrimary: true })
            .click(function () {
                var selectedJobs = [];
                $('#tableContainer').find('tbody input').each(function () {
                    var $el = $(this);
                    if ($el.get(0).checked) selectedJobs.push($el.data());
                });
                if (selectedJobs.length) {
                    console.log(selectedJobs);
                } else {
                    var $banner = $('#banner-container');
                    $banner.find('.action-indicator').remove();
                    $banner.find('.secondline').remove();
                    $banner.find('.firstline').html("<%- __('txt.select') %>");
                    $banner.xrxbanner('call');
                }
            });
        applyTheme("<%- $sys.theme || '' %>");

        <% if ($printer && $license && user) { %>
        var $banner = $('#banner-container');
        $banner.xrxbanner({});
        getSessionInformation(function () {
            loadUI();
        }, function (e) {
            if (e) console.log(e);
            loadUI();
        });
        <% } else if (flash && flash.length) { %>
            var $alert = $('#alert-container');
            <% while(alert = flash.shift()) { %>
                $alert.append("<p><%- alert.message %></p>");
            <% }; %>
            $alert.xrxalert({ buttons: [] });
            $alert.xrxalert('open');
        <% }; %>
    });
</script>
