<script type="text/javascript">
    $(function() {
        <% if ($printer && user) { %>
        function printOptions(capabilities, input) {
            $('#tableContainer').find('table').xrxtable({ bordered: true, theme: "<%- $sys.themeAlt || '' %>",
                themePrimary: false, selectable: false, height: $('body').data('h') || 430, scroll: true });
            $('#select-color').xrxpopover({ targetControl: '#line-color', basedOnTouch: true });
            $('#select-color select').xrxsegmentedcontrol({ type: 'textandicon', widgetSize: 'xrx-small',
                select: function(event, data) {
                    $('#color-value').data('v', $('#select-color select').val())
                        .html($('#select-color select option:selected').html());
                }
            });
            $('#txt-username').xrxkeyboard({ initialPlaceholder: "<%- __('field.username') %>", layout: '<%- $sys.language || '' %>',
                restrictInput: true, preventPaste: true, theme: '<%- $sys.themeAlt || '' %>' });
            $('#txt-password').xrxkeyboard({ initialPlaceholder: "<%- __('field.password') %>", layout: '<%- $sys.language || '' %>',
                restrictInput: true, preventPaste: true, theme: '<%- $sys.themeAlt || '' %>' });
            $('#switch-side').xrxtoggleswitch({ widgetSize: 'xrx-small', theme: "<%- $sys.themeAction || '' %>" });
        }
        function loadUI(input) {
            if (!$('body').data('u')) $('body').data('u', 'master');
            var $username = $('body').data('u'), $current = "<%- user.username %>";
            if ($username !== $current) {
                var $alert = $('#alert-container').html("<%- __('txt.claim', $printer.name, $printer.ip, user.username) %>");
                $alert.xrxalert({ buttons: [] });
                $alert.xrxalert('open');
            } else {
                <% if (!$qs.val('hello')) { %>
                showBanner("<%- __('txt.welcome') %>".replace('%s', $username), '', null);
                <% }; %>
                $('#btn-exit').click(function () {
                    if ($(this).data('b')) window.location.href = location.pathname + '?hello=' + Date.now();
                    else if (confirm("<%- __('txt.sure') %>")) $.post('/' + ($('body').data('u') || '-') + '/unclaim', {})
                        .done(function () {
                            exitApplication('scan');
                        }).fail(function () {
                            exitApplication('scan');
                        });
                });
                $('#btn-scan').click(function () {
                    $('#btn-scan').attr('disabled', true);
                    var valColor = $('#color-value').data('v') || 'Auto';
                    var valSide = $('#switch-side').xrxtoggleswitch('value') ? 'TwoSidedLongEdge' : 'Onsided';
                    var valUsername = $('#txt-username').length ? $('#txt-username').val() : null;
                    var valPassword = $('#txt-password').length ? $('#txt-password').val() : null;
                    var payload = { color: valColor, side: valSide, username: valUsername, password: valPassword };
                    if (!payload.username) payload.folder = $username;
                    $.post('/template', payload).done(function (data) {
                        if (data && data.t) {
                            xrxScanInitiateScan(null, data.t, false, function (request, response) {
                                showBanner("<%- __('txt.success') %>", '', null);
                                $('#btn-scan').attr('disabled', false);
                            }, function () {
                                showBanner("<%- __('txt.fail') %>", '', null);
                                $('#btn-scan').attr('disabled', false);
                            });
                        } else {
                            showBanner("<%- __('txt.template') %>", data && data.e ? data.e : '', null);
                            $('#btn-scan').attr('disabled', false);
                        }
                    }).fail(function () {
                        showBanner("<%- __('txt.template') %>", '-', null);
                        $('#btn-scan').attr('disabled', false);
                    });
                });
                getDeviceCapability(function (capabilities) {
                    printOptions(capabilities, input);
                }, function () {
                    printOptions({}, input);
                });
            }
        }
        <% }; %>
        $('#btn-exit').xrxbutton({ icons: { glyph: 'glyphicon-exit' }, text: false, themePrimary: true });
        $('#btn-scan').xrxbutton({ icons: { glyph: 'glyphicon-print' }, text: true, themePrimary: true });
        $('#alert-container').xrxalert({ buttons: [] });
        applyTheme("<%- $sys.theme || '' %>");
        <% if ($printer && $license && user) { %>
        showBanner('', '', null, true);
        getSessionInformation(function (input) {
            loadUI(input);
        }, function () {
            loadUI();
        });
        <% } else if (flash && flash.length) { %>
            var $alert = $('#alert-container');
            <% while(alert = flash.shift()) { %>
                $alert.append("<p><%- alert.message %></p>");
            <% }; %>
            $alert.xrxalert({ buttons: [] });
            $alert.xrxalert('open');
        <% }; %>
    });
</script>
