<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fa fa-print"></i> <%= __('app.printers') %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="/<%- $module %>/create?ts=<%- $qs.val('ts') %>"
                class="btn btn-sm btn-outline-secondary"><i class="fa fa-plus-circle"></i> <%= __('btn.new.printer') %></a>
        </div>
    </div>
</div>

<% include ../common/alerts %>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th><%= __('field.name') %></th>
                <th>IP</th>
                <th><%= __('field.model') %></th>
                <th><%= __('field.location') %></th>
                <th><%= __('field.seen') %></th>
                <th colspan="2"><%= __('field.update') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let printer of printers) { %>
            <% const seen = printer.seen && Date.now() - printer.seen < 300000; %>
            <tr>
                <td><i class="fa fa-<%- seen ? 'eye' : 'eye-slash' %> text-<%- seen ? 'success' : 'danger' %>"></i>
                    <%- printer.name %></td>
                <td><%- printer.ip %></td>
                <td>
                    <% if (printer.model) { %>
                    <% if ($user.level >= $privileges.master) { %>
                    <a href="/models/<%- printer.model._id %>/edit?ts=<%- $qs.val('ts') %>">
                        <%- printer.model.brand %> <%- printer.model.model %></a>
                    <% } else { %>
                    <%- printer.model.brand %> <%- printer.model.model %>
                    <% }; %>
                    <% }; %>
                </td>
                <td><%- printer.options.location %></td>
                <td><%- printer.seen ? $date(printer.seen, 'dd.MM.yyyy HH:mm') : '-' %></td>
                <td><%- $date(printer.updatedAt, 'dd.MM.yyyy HH:mm') %></td>
                <td>
                    <div class="btn-group float-right">
                        <a href="/<%- $module %>/<%- printer._id %>/edit?ts=<%- $qs.val('ts') %>"
                            class="btn btn-rounded btn-sm btn-outline-dark">
                            <i class="fa fa-edit"></i> <%= __('btn.edit') %></a>
                        <a href="/<%- $module %>/<%- printer._id %>/manage?ts=<%- $qs.val('ts') %>"
                            class="btn btn-rounded btn-sm btn-outline-dark">
                            <i class="fa fa-save"></i> <%= __('btn.manage') %></a>
                        <% if (printer.deleted) { %>
                        <a href="/<%- $module %>/<%- printer._id %>/restore?ts=<%- $qs.val('ts') %>"
                            class="btn btn-rounded btn-sm btn-outline-primary confirm">
                            <i class="fa fa-undo"></i> <%= __('btn.restore') %></a>
                        <% } else { %>
                        <a href="/<%- $module %>/<%- printer._id %>/trash?ts=<%- $qs.val('ts') %>"
                            class="btn btn-rounded btn-sm btn-outline-danger confirm">
                            <i class="fa fa-trash"></i> <%= __('btn.trash') %></a>
                        <% }; %>
                    </div>
                </td>
            </tr>
            <% }; %>
        </tbody>
    </table>
</div>

<div class="text-center">
    <div class="btn-group">
        <% if ($qs.val('page')) { %>
        <a href="?<%- $qs.overwrite({ page: page - 1 }).build() %>"
            class="btn btn-rounded btn-sm btn-outline-dark">« <%= __('btn.prev') %></a>
        <% }; %>
        <a href="?<%- $qs.overwrite({ page: page + 1 }).build() %>"
            class="btn btn-rounded btn-sm btn-outline-dark"><%= __('btn.next') %> »</a>
    </div>
</div>
