<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fa fa-print"></i> <%= __('app.printers') %> » <%- printer.name %> » <%- __('btn.manage') %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <% if (printer.deleted) { %>
            <a href="/<%- $module %>/<%- printer._id %>/restore?ts=<%- $qs.val('ts') %>"
                class="btn btn-rounded btn-sm btn-outline-primary confirm">
                <i class="fa fa-undo"></i> <%= __('btn.restore') %></a>
            <% } else { %>
            <a href="/<%- $module %>/<%- printer._id %>/trash?ts=<%- $qs.val('ts') %>"
                class="btn btn-rounded btn-sm btn-outline-danger confirm">
                <i class="fa fa-trash"></i> <%= __('btn.trash') %></a>
            <% }; %>
            <a href="/<%- $module %>/<%- printer._id %>/edit?ts=<%- $qs.val('ts') %>"
                class="btn btn-rounded btn-sm btn-outline-secondary">
                <i class="fa fa-edit"></i> <%= __('btn.edit') %></a>
            <a href="/<%- $module %>?ts=<%- $qs.val('ts') %>"
                class="btn btn-sm btn-outline-secondary"><i class="fa fa-history"></i> <%= __('btn.back') %></a>
        </div>
    </div>
</div>

<% include ../common/alerts %>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>IP</th>
                <th><%= __('field.model') %></th>
                <th><%= __('field.location') %></th>
                <th><%= __('field.seen') %></th>
                <th><%= __('field.update') %></th>
            </tr>
        </thead>
        <tbody>
            <% const seen = printer.seen && Date.now() - printer.seen < 300000; %>
            <tr>
                <td><i class="fa fa-<%- seen ? 'eye' : 'eye-slash' %> text-<%- seen ? 'success' : 'danger' %>"></i>
                    <%- printer.ip %></td>
                <td>
                    <% if (printer.model) { %>
                    <% if ($user.level >= $privileges.master) { %>
                    <a href="/models/<%- printer.model._id %>/edit?ts=<%- $qs.val('ts') %>">
                        <%- printer.model.brand %> <%- printer.model.model %></a>
                    <% } else { %>
                    <%- printer.model.brand %> <%- printer.model.model %>
                    <% }; %>
                    <% }; %>
                </td>
                <td><%- printer.options.location %></td>
                <td><%- printer.seen ? $date(printer.seen, 'dd.MM.yyyy HH:mm') : '-' %></td>
                <td><%- $date(printer.updatedAt, 'dd.MM.yyyy HH:mm') %></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <form onsubmit="return false;" class="form-inline">
        <div class="form-group mb-2">
            <label for="field-username" class="sr-only"><%= __('field.username') %></label>
            <input type="text" class="form-control" id="field-username" placeholder="<%= __('field.username') %>">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="field-password" class="sr-only"><%= __('field.password') %></label>
            <input type="password" class="form-control" id="field-password" placeholder="<%= __('field.password') %>">
        </div>
        <a href="javascript:" class="btn btn-dark mx-sm-3 mb-2"
            data-printer="<%- printer.id %>" id="list-apps"><%- __('btn.list_apps') %></a>

        <% for (let app of [ 'copy', 'print', 'scan', 'custom' ]) { %>
        <div class="form-group mx-sm-3 mb-2">
            <input type="checkbox" value="<%- app %>" id="field-<%- app %>">
            <label for="field-<%- app %>"><%= __(`reg.${ app }`) %></label>
        </div>
        <% }; %>

        <a href="javascript:" class="btn btn-info mb-2"
            data-printer="<%- printer.id %>" id="register-app"><%- __('btn.register') %></a>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-striped d-none">
        <thead>
            <tr>
                <th colspan="2"><%= __('field.application') %></th>
            </tr>
        </thead>
        <tbody id="container-apps"></tbody>
    </table>
</div>

<script type="text/javascript">
    let container;
    function ajax(url, data) {
        return new Promise((resolve, reject) =>
            $.post(url, data).done(r => resolve(r)).fail(e => reject(e || new Error(`${ url } failed`))));
    }

    async function removeApp(name, checksum, pid, msg) {
        try {
            if (confirm(msg)) {
                container.empty();
                container.append(`<tr><td colspan="2"><%- __('txt.loading') %></td></tr>`);
                container.closest('table').removeClass('d-none');
                await ajax(`/printers/${ pid }/apps/${ name }/${ checksum }`, {
                    username: $('#field-username').val(), password: $('#field-password').val(),
                });
            }
            $('#list-apps').trigger('click');
        } catch (e) {
            $('#list-apps').trigger('click');
        }
    }

    async function registerApp(pid) {
        try {
            container.empty();
            container.append(`<tr><td colspan="2"><%- __('txt.loading') %></td></tr>`);
            container.closest('table').removeClass('d-none');
            const apps = [];
            for (let app of [ 'copy', 'print', 'scan', 'custom' ])
                if ($(`#field-${ app }:checked`).length) apps.push(app);
            const r = await ajax(`/printers/${ pid }/register`, {
                apps, username: $('#field-username').val(), password: $('#field-password').val(),
            });
            // TODO: show errors!
            $('#list-apps').trigger('click');
        } catch (e) {
            $('#list-apps').trigger('click');
        }
    }

    const $loop = setInterval(function () {
        try {
            container = $('#container-apps');
            clearInterval($loop);

            $('#register-app').click(async function() {
                const el = $(this);
                registerApp(el.data('printer'));
            });

            $('#list-apps').click(async function() {
                const el = $(this);
                try {
                    container.empty();
                    container.append(`<tr><td colspan="2"><%- __('txt.loading') %></td></tr>`);
                    container.closest('table').removeClass('d-none');
                    const apps = await ajax(`/printers/${ el.data('printer') }/apps`, {
                        username: $('#field-username').val(),
                        password: $('#field-password').val()
                    });
                    container.empty();
                    if (apps instanceof Array)
                        for (let app of apps) {
                            const row = $('<tr></tr>');
                            if (parseInt(app.checksum)) row.append(`<td>${ app.name }</td>`)
                                .append(`<td><a href="javascript:removeApp('${ app.name }', '${ app.checksum }', '${ el.data('printer') }', '<%- __('txt.sure') %>')"
                                            class="btn btn-rounded btn-sm btn-outline-danger float-right">
                                            <i class="fa fa-trash"></i></a></td>`);
                            else row.append(`<td colspan="2">${ app.name }</td>`);
                            container.append(row);
                        }
                } catch (e) {
                    console.log(e);
                }
            });
        } catch (e) {
            console.log(e);
        }
    }, 500);
</script>
