<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <i class="fa fa-users"></i> <%= __('app.users') %> »
        <% if (user) { %>
        <%= user.name %>
        <% } else { %>
        <%= __('btn.new.user') %>
        <% }; %>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="/<%- $module %>?ts=<%- $qs.val('ts') %>"
                class="btn btn-sm btn-outline-secondary"><i class="fa fa-history"></i> <%= __('btn.back') %></a>
        </div>
    </div>
</div>

<% include ../common/alerts %>

<form method="post">
    <% if (user) { %>
    <div class="form-group">
        <label>ID</label>
        <p class="form-control"><span class="text-primary">
            <%- user._id %></span></p>
    </div>
    <% }; %>
    <div class="form-group">
        <label for="field-name"><%= __('field.name') %></label>
        <input type="text" class="form-control" id="field-name" name="name"
            placeholder="<%= __('field.name') %>" value="<%- user ? user.name : '' %>">
    </div>
    <div class="form-group">
        <label for="field-username"><%= __('field.username') %></label>
        <% if (user) { %>
        <p class="form-control"><%- user.username %></p>
        <% } else { %>
        <input type="text" class="form-control" id="field-username" name="username" placeholder="<%= __('field.username') %>">
        <% }; %>
    </div>
    <div class="form-group">
        <label for="field-password"><%= __('field.password') %></label>
        <input type="password" class="form-control" id="field-password"
            name="password" placeholder="<%= __('field.password') %>">
    </div>
    <div class="form-group">
        <label for="field-passphrase"><%= __('field.passphrase') %></label>
        <input type="password" class="form-control" id="field-passphrase"
            name="passphrase" placeholder="<%= __('field.passphrase') %>">
    </div>
    <% if ($user.level) { %>
    <div class="form-group">
        <label for="field-level"><%= __('field.level._') %></label>
        <select class="form-control" id="field-level" name="level">
            <% for (let privilege in $privileges) { %>
            <% if ($privileges[privilege] <= $user.level) { %>
            <option <%- user && user.level === $privileges[privilege] ? 'selected' : '' %>
                value="<%- $privileges[privilege] %>"><%- __(`field.level.${ privilege }`) %></option>
            <% }; %>
            <% }; %>
        </select>
    </div>
    <% }; %>
    <% if (user && user.login) { %>
    <% const seen = user && user.login && Date.now() - user.login < 300000; %>
    <div class="form-group">
        <label><%= __('field.seen') %></label>
        <p class="form-control">
            <i class="fa fa-<%- seen ? 'eye' : 'eye-slash' %> text-<%- seen ? 'success' : 'danger' %> float-right"></i>
            <span class="text-info"><%= __('txt.seen', $date(user.login, 'DD.MM.YYYY HH:mm')) %></span>
        </p>
    </div>
    <% }; %>
    <% if (user && user.deleted) { %>
    <div class="form-group">
        <label><%= __('field.status') %></label>
        <p class="form-control"><span class="text-danger">
            <%= __('txt.del', $date(user.deletedAt, 'DD.MM.YYYY HH:mm')) %></span></p>
    </div>
    <% }; %>
    <button type="submit" class="btn btn-success mr-2"><%= __('btn.submit') %></button>
    <button type="reset" class="btn btn-light"><%= __('btn.reset') %></button>
</form>
