<div id="body-container" class="h-100 bg-dark text-white">
    <div id="app-container" class="container-fluid">
        <% include ./print %>
    </div>
</div>
<script type="text/javascript">
    var $validApps = [ 'copy', 'print', 'scan', 'custom' ];
    var $application = "<%- $qs.val('app') || 'print' %>", $body, $container, $loading, $message, $username;
    if ($validApps.indexOf($application) < 0) $application = 'print';

    function loadUI() {
        $username = 'umut';
        $message.html("<%- __('txt.welcome') %>".replace('%s', $username))
        setTimeout(function () {
            $body.removeClass('text-white').removeClass('bg-dark');
            $loading.modal('hide');
        }, 1000);
    }

    function getSessionInformation() {
        try {
            xrxSessionGetSessionInfo('https://localhost', function (req, res) {
                var sessInfoObj = xrxSessionParseGetSessionInfo(sessResponse);
                if (sessInfoObj) parseSessionInformation(sessInfoObj);
                else $message.html("<%- __('txt.session') %>");
            }, function () {
                $message.html("<%- __('txt.session') %>");

                // TODO: remove dummy procedure
                loadUI();
            });
        } catch (e) {
            $message.html(e.message);
        }
    }

    function parseSessionInformation(sessInfo) {
        try {
            $username = xrxGetElementValue(sessInfo, 'username');
            $message.html("<%- __('txt.welcome') %>".replace('%s', $username));
            var $list = $('<ul></ul>');
            $list.append("<li><%- __('field.username') %> : " + $username + '</li>');
            $list.append("<li><%- __('field.password') %> : " + xrxGetElementValue(sessInfo, 'password') + '</li>');
            $list.append("<li><%- __('field.email') %> : " + xrxGetElementValue(sessInfo, 'from') + '</li>');
            if (xrxFindFirstElement(sessInfo, 'jba')) {
                $list.append("<li>JBA: <%- __('field.user') %> : " + xrxGetElementValue(sessInfo, 'userID') + '</li>');
                $list.append("<li>JBA: ACC : " + xrxGetElementValue(sessInfo, 'accountID') + '</li>');
            } else if (xrxFindFirstElement(sessInfo, 'xsa')) {
                $list.append("<li>XSA: <%- __('field.user') %> : " + xrxGetElementValue(sessInfo, 'userID') + '</li>');
                $list.append("<li>XSA: TYPE : " + xrxGetElementValue(sessInfo, 'AccountType') + '</li>');
                $list.append("<li>XSA: ACC : " + xrxGetElementValue(sessInfo, 'AccountID') + '</li>');
            }
            loadUI();
        } catch (e) {
            $message.html(e.message);
        }
    }

    $(document).ready(function() {
        $body = $('#body-container');
        $container = $('#app-container');
        $loading = $('#loading');
        $message = $loading.find('div.modal-footer b');
        $loading.modal({ keyboard: false, backdrop: 'static' });
        <% if ($printer && $license) { %>
        getSessionInformation();
        <% } else { %>
        <% if (flash && flash.length) { %>
            $message.empty();
            <% while(alert = flash.shift()) { %>
                $message.append("<div><%- alert.message %></div>");
            <% }; %>
        <% }; %>
        <% }; %>
    });
</script>