<div id="action_bar" class="xrx-action-bar xrx-background">
    <div id="title-bar" class="xrx-action-bar-label"><%- __('field.menu') %></div>
</div>
<div id="tableContainer">
    <% if ($sys.menu) { %>
    <table>
        <tr>
            <td style="width: 50%;">
                <center><button id="btn-print" style="display: none;"><%- __('reg.print') %></button></center>
            </td>
            <td style="width: 50%;">
                <center><button id="btn-scan" style="display: none;"><%- __('reg.scan') %></button></center>
            </td>
        </tr>
        <tr>
            <td style="width: 50%;">
                <center><button id="btn-copy" style="display: none;"><%- __('reg.copy') %></button></center>
            </td>
            <td style="width: 50%;">
                <center><button id="btn-custom" style="display: none;"><%- __('reg.custom') %></button></center>
            </td>
        </tr>
    </table>
    <% } else { %>
    <center><img alt="<%- __('reg.' + $app) %>" src="/images/favicon.png" ></center>
    <% }; %>
</div>
<% include common-scripts %>
<script type="text/javascript">
    $(function() {
        <% if ($printer) { %>
        function sessionFailed(user) {
            hideBanner();
            var msg = "<%- __('txt.claim', $printer.name, $printer.ip, '%s') %>";
            var $alert = $('#alert-container').html(msg.replace('%s', user));
            $alert.xrxalert({ buttons: [] });
            $alert.xrxalert('open');
        }
        function loadUI() {
            setTimeout(function () {
                if (!$('body').data('u')) $('body').data('u', 'master');
                var $username = $('body').data('u');
                if (!$username || !$username.trim()) return sessionFailed('?');

                $.post('/' + $username + '/claim', {}).done(function (data) {
                    if (!data || !data.s) return sessionFailed($username);

                    setTimeout(function () {
                        <% if (!$sys.menu) { %>
                        window.location.href = '/' + $username + '/<%- $app %>?ts=' + Date.now();
                        <% } else { %>
                        $('#tableContainer').find('table').xrxtable({ bordered: true, themePrimary: true,
                            selectable: false, scroll: false }).css('height', $('body').data('h') - 10 + 'px');
                        applyTheme("<%- $sys.theme || '' %>", '#tableContainer table');
                        $('#btn-print').css('display', 'block').xrxbutton({ text: true, themePrimary: false })
                            .click(function () {
                                window.location.href = '/' + $username + '/print?ts=' + Date.now();
                            });
                        applyTheme("<%- $sys.theme || '' %>", '#btn-print');
                        $('#btn-custom').css('display', 'block').xrxbutton({ text: true, themePrimary: false })
                            .click(function () {
                                window.location.href = '/' + $username + '/custom?ts=' + Date.now();
                            });
                        applyTheme("<%- $sys.theme || '' %>", '#btn-custom');
                        $('#btn-scan').css('display', 'block').xrxbutton({ text: true, themePrimary: false })
                            .click(function () {
                                window.location.href = '/' + $username + '/scan?ts=' + Date.now();
                            });
                        applyTheme("<%- $sys.theme || '' %>", '#btn-scan');
                        $('#btn-copy').css('display', 'block').xrxbutton({ text: true, themePrimary: false })
                            .click(function () {
                                window.location.href = '/' + $username + '/copy?ts=' + Date.now();
                            });
                        applyTheme("<%- $sys.theme || '' %>", '#btn-copy');
                        <% }; %>
                    }, 500);
                })
                .fail(function () {
                    sessionFailed($username);
                });
            }, 500);
        }
        <% }; %>
        $('#alert-container').xrxalert({ buttons: [] });
        applyTheme("<%- $sys.theme || '' %>");
        <% if ($printer && $license) { %>
        showBanner("<%- __('txt.loading') %>", "<%- __('txt.wait') %>", 5000);
        getSessionInformation(function () {
            loadUI();
        }, function (e) {
            loadUI();
        });
        <% } else if (flash && flash.length) { %>
            var $alert = $('#alert-container');
            <% while(alert = flash.shift()) { %>
                $alert.append("<p><%- alert.message %></p>");
            <% }; %>
            $alert.xrxalert({ buttons: [] });
            $alert.xrxalert('open');
        <% }; %>
    });
</script>
