<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2">
    <h1 class="h4">
        <% if ($printer.model && $printer.model.options &&
            $printer.model.options.code && $printer.model.options.code.startsWith('xrx')) { %>
        <img src="/images/icons/xerox.png" alt="xerox" height="24">
        <% } else { %><i class="fa fa-print"></i> <%= __('app.jobs') %><% }; %>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <% if ($sys && $sys.menu) { %>
            <a href="?app=copy&ts=<%- $qs.val('ts') %>" class="btn btn-sm btn-dark"><%= __('btn.photocopy') %></a>
            <a href="?app=custom&ts=<%- $qs.val('ts') %>" class="btn btn-sm btn-dark"><%= __('btn.custom_photocopy') %></a>
            <a href="?app=scan&ts=<%- $qs.val('ts') %>" class="btn btn-sm btn-dark"><%= __('btn.scan') %></a>
            <% }; %>
            <a href="javascript:exitApplication();" data-msg="<%- __('txt.sure') %>"
                class="btn btn-sm btn-danger"><i class="fa fa-door-open"></i> <%= __('btn.exit') %></a>
        </div>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="javascript:printJobs();" class="btn btn-info"><i class="fa fa-print"></i> <%= __('btn.print') %></a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th><%- __('field.name') %></th>
            <th><i class="fa fa-palette"></i></th>
            <th><i class="fa fa-book"></i></th>
            <th><i class="fa fa-copy"></i></th>
            <th><%- __('field.update') %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr class="table-primary">
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
    </tbody>
</table>